<div id=taskMenuContainer class="invisible">
  <ul id="taskMenu">
    <li id="editTaskLink" class="fakeLink">Edit Task </li>

    <li class=fakeLink"><a data-confirm="Are you sure?" data-method="delete" id="deleteTaskLink" href="/tasks/0">Delete Task</a></li>
  </ul>
</div>
