header {
  height: 35px;
  border-bottom: 3px solid #f0f0f0;
  position: relative;
  background-color: #f8f8f8;
}

#logout {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
}

#logout:hover {
  color: red;
  background-color: white;
  border: 1px solid red;
}
