header {
  height: 35px;
  border-bottom: 3px solid #f0f0f0;
  position: relative;
  background-color: #e6f2ff;
}

#logout {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black;
}

#logout:hover {
  color: black;
  background-color: #b3d9ff;
}
