.taskList {
  list-style-type: none;
}

#greyScreen {
  position: absolute;
  background-color: grey;
  opacity: 0.4;
  z-index: 99;
}

#addNewProject,
#editProject {
  position: absolute;
  width: 500px;
  background: white;
  z-index: 100;
  left: 50%;
  margin-left: -250px;
  border: 2px solid black;
  text-align: center;
  padding-bottom: 20px;
  top: 80px;
}

.field {
  margin-top: 5px;
  margin-bottom: 5px;
}

#abortEditProject,
#abortNewProject {
  margin-top: 5px;
  font-size: 14px;
}

#deleteProjectLink:hover {
  text-decoration: underline;
}
